<div [ngClass]="isInfo ? 'show-division':'hide-division'">

  <mat-card appearance="outlined" class="mat-elevation-z8 itemInformation-mat-card">
    <mat-card-content class="cardBackground">

      <div class="subdivisionTitle">{{ subInfoTitle }}</div>

      <!-- Technicalities -->
      <div *ngIf="technicalitiesNumber > 0">
        <h4>Technicalities</h4>
        <ul>
          <li *ngFor="let P of technicalities">
            <span class="propertyStyle">{{ P.label }}:</span>
            <!-- Affichage détaillé selon la structure de P -->
            <span *ngIf="P.value">{{ P.value }}</span>
            <!-- Ajoute ici d'autres champs si besoin -->
          </li>
        </ul>
        <hr>
      </div>

      <!-- Nature Of -->
      <div *ngIf="isList4">
        <div class="listStyle">
          <div class="labelTitlePadding">
            <div class="propertyStyle">{{ natureOfListTitle }} {{ list4Number }} {{ suffix1 }} </div>
          </div>
          <hr>
          <div *ngFor="let L of list4">
            <div class="details">
              <div>
                <label *ngIf="L.itemLabel?.value">
                  {{ L.itemLabel.value }}
                  <span *ngIf="L.itemDescription" class="description-text">({{ L.itemDescription.value }})</span>
                  <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
                    <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
                  </mat-icon-button>
                </label>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <!-- Classes -->
      <div *ngIf="isList3">
        <div class="property2">{{ prefix1 }} {{ list3Number }} {{ classesListTitle }}</div>
        <hr>
        <div *ngFor="let L of list3">
          <div class="details">
            <div>
              <label *ngIf="L.itemLabel?.value">
                {{ L.itemLabel.value }}
                <span *ngIf="L.itemDescription" class="description-text">({{ L.itemDescription.value }})</span>
                <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
                  <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
                </mat-icon-button>
              </label>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <!-- Subclasses -->
      <div *ngIf="isList1">
        <div class="property2">{{ prefix2 }} {{ list1Number }} {{ subclassesListTitle }}</div>
        <hr>
        <div *ngFor="let L of list1">
          <div class="details">
            <div>
              <label *ngIf="L.itemLabel?.value">
                {{ L.itemLabel.value }}
                <span *ngIf="L.itemDescription" class="description-text">({{ L.itemDescription.value }})</span>
                <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
                  <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
                </mat-icon-button>
              </label>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <!-- Instances -->
      <div *ngIf="isList2">
        <div class="property2">{{ list2Number }} {{ instancesListTitle }}</div>
        <hr>
        <div *ngFor="let L of list2">
          <div class="details">
            <div>
              <label *ngIf="L.itemLabel?.value">
                {{ L.itemLabel.value }}
                <span *ngIf="L.itemDescription" class="description-text">({{ L.itemDescription.value }})</span>
                <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
                  <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
                </mat-icon-button>
              </label>
            </div>
            <hr>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
