
<div [ngClass]="isInfo ? 'show-division':'hide-division'">
  <mat-card  appearance="outlined"  class= mat-elevation-z8 class="itemInformation-mat-card">
    <mat-card-content>

    <div class="subdivisionTitle">{{subInfoTitle}}</div>

    <div  [ngClass]="isList4 ? 'show-division':'hide-division'">
      <div class="property2">{{natureOfListTitle}} {{list4Number}} {{suffix1}} </div>   
      <hr>  
      
      @for (L of list4; track L) {
       <div class="details" >
        <div>
          @if (L.itemLabel.value) {
            <label>{{L.itemLabel.value}}
            @if (L.itemDescription) {
            <span class="description-text">({{L.itemDescription.value}})</span>
            }
            <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]"><mat-icon color ="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
            }
        </div>
        <hr>
      </div>
     }
     
      </div>
    </mat-card-content>

    <div  [ngClass]="isList3 ? 'show-division':'hide-division'">
      <mat-card-content>
        <div class="property2">{{prefix1}} {{list3Number}} {{classesListTitle}}</div>   
        <hr>  
        
        @for (L of list3; track L) {
         <div class="details" >
          <div>
            @if (L.itemLabel.value) {
          <label>{{L.itemLabel.value}}
              @if (L.itemDescription) {
          <span class="description-text">({{L.itemDescription.value}})</span>
            }
              <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]"><mat-icon color ="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
          }
          </div>
          <hr>
        </div>
}
      </mat-card-content>
    </div>
    <div [ngClass]="isList1 ? 'show-division':'hide-division'"> 
      <mat-card-content>     
        <div class="property2">{{prefix2}} {{list1Number}} {{subclassesListTitle}}</div>   
                <hr>          
                @for (L of list1; track L) {
  <div class="details" >
                  <div>
                    @if (L.itemLabel.value) {
<label>{{L.itemLabel.value}}
                      @if (L.itemDescription) {
<span class="description-text">({{L.itemDescription.value}})</span>
}
                      <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]"><mat-icon color ="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
}
                  </div>
                  <hr>
                </div>
}
      </mat-card-content>    
    </div>
    <div  [ngClass]="isList2 ? 'show-division':'hide-division'">
      <mat-card-content>
        <div class="property2">{{list2Number}} {{instancesListTitle}}</div>   
        <hr>  
        
        @for (L of list2; track L) {
           <div class="details" >
          <div flex-shrink flex-basis="auto">
            @if (L.itemLabel.value) {
            <label>{{L.itemLabel.value}}
              @if (L.itemDescription) {
              <span class="description-text">({{L.itemDescription.value}})</span>
              }
              <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]"><mat-icon color ="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
}
          </div>
          <hr>
        </div>
}
      </mat-card-content>
    </div>
      
  </mat-card>
 </div>


