<mat-card-content class="cardBackground">
  <div class="subdivisionTitle">{{career}}</div>
  @for (P of careerAndActivities; track P) {
  <div class="listStyle">
    <div class="labelTitlePadding">
      <span class="propertyStyle">{{P.label}}:</span>
    </div>
    @for (M of P; track M) {
    <div class="statementStyle">
      <!--     <div class="header-spacer">   -->
      <div [ngStyle]="{'background-color': (M.rank=='deprecated') ? '#f1f1f1' : '#ffffff'}">
        @if (M.mainsnak.datatype ==='time') {
        <span>{{M.mainsnak.datavalue.value.date}}</span>
        @if (M.mainsnak.datavalue.value.calendarmodel === "http://www.wikidata.org/entity/Q1985727"){
        <span class="calendarStyle">
          greg.
          <mat-icon-button class="internalLink" [routerLink]="['/item','Q220486']"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;
        </span>
        }
        @if (M.mainsnak.datavalue.value.calendarmodel === "http://www.wikidata.org/entity/Q1985786"){
        <span class="calendarStyle">
          jul.
          <mat-icon-button class="internalLink" [routerLink]="['/item','Q505980']"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;
        </span>
        }
        }
        @if (M.mainsnak.datatype==='monolingualtext') {
        <span>{{M.mainsnak.datavalue.value.text}}, {{M.mainsnak.datavalue.value.language}}</span>
        }
        @if (M.mainsnak.datatype === 'string') {
        <span class="displayLayout">{{M.mainsnak.datavalue.value }}</span>
        }
        @if (M.mainsnak.datatype === 'url') {
        <span class="displayLayout">
          <a href="{{M.mainsnak.datavalue.value}}" target="_blank">{{M.mainsnak.datavalue.value}}</a>
        </span>
        }
        <span>{{M.mainsnak.datavalue.value.amount}}</span>
        @if (M.mainsnak.datatype === 'globe-coordinate') {
        <span>latitude: {{M.mainsnak.datavalue.value.latitude}}, longitude: {{M.mainsnak.datavalue.value.longitude}}</span>
        }
        @if (M.mainsnak.datatype==='commonsMedia') {
        <div>
          <span>
            <img class="cover" src={{M.picture}} (click)="openImage(M.picture)">
          </span>
        </div>
        }
        @if (M.mainsnak.datatype==='wikibase-item') {
        <span>
          {{M.mainsnak.label}}
          <mat-icon-button class="internalLink" [routerLink]="['/item', M.mainsnak.datavalue.value.id]"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>
          &nbsp;&nbsp;&nbsp;
        </span>
        {{M.mainsnak.separator}}
        <span class="description-text">{{M.mainsnak.description}}&nbsp;</span>
        }
        @if (M.rank=='deprecated') {
        <span class="warningDeprecated"> &nbsp;({{M.rank}})</span>
        }
      </div>
      <div class="qualifierStyle">
        @if (M['qualifiers-order']) {
        <span>
          @for (Q of M.qualifiers2; track Q) {
          <div>
            <!--           @if (Q.remove !=='y') {
            <span> -->
            <span class="qualifierProperty"><em>{{Q.label}}:&nbsp;</em></span>

            @for (D of Q.display; track D; let isLast = $last) {
            <span>
              @if (D.datatype === 'time') {
              <span>
                {{D.date}}
                @if (D.calendar === "http://www.wikidata.org/entity/Q1985727"){
                <span class="calendarStyle">
                  greg.
                  <mat-icon-button class="internalLink" [routerLink]="['/item','Q220486']"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;
                </span>
                }

                @if (D.calendar === "http://www.wikidata.org/entity/Q1985786"){
                <span class="calendarStyle">
                  jul.
                  <mat-icon-button class="internalLink" [routerLink]="['/item','Q505980']"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;
                </span>
                }

              </span>
              }
              @if (D.datatype==='string') {
              <span>
                {{D.string}}@if (!isLast) {
                <span>,&nbsp;</span>
                }
              </span>
              }
              @if (D.datatype==='monolingualtext') {
              <span>
                {{D.string.text}}@if (!isLast) {
                <span>,&nbsp;</span>
                }
              </span>
              }
              <span>{{D.amount}}</span>
              @if (D.unit) {
              <span><em>&nbsp;({{D.unit | unit |async}})</em>&nbsp;</span>
              }
              @if (D.datatype === 'external-id') {
              <span>
                <a href="{{D.link}}" target="_blank">{{D.string}}</a>
              </span>
              @if (!isLast) {
              <span>,&nbsp;</span>
              }
              }
              @if (D.datatype === 'url') {
              <span class="displayLayout">
                <a href="{{D.string}}" target="_blank">{{D.string}}</a>
              </span>
              @if (!isLast) {
              <span>,&nbsp;</span>
              }
              }
              @if (D.datatype==='wikibase-item') {
              <span>
                {{D.label}}
                <mat-icon-button class="internalLink" [routerLink]="['/item', D.id]"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>
                @if(D.description){ &nbsp;&nbsp;&nbsp;}
                {{D.separator}}<span class="description-text">{{D.description}}</span>
              </span>
              }
              @if (D.datatype==='commonsMedia') {
              <div>
                <span>
                  <img src={{D.commons}} (click)="openImage(D.commons)">
                </span>
              </div>
              }
            </span>
            @if (!isLast) {
            <span>,&nbsp;</span>
            }
            }
          </div>
          }
        </span>
        }
      </div>


      @if (M['references2']) {

      @for (Ma of M['references2']; track Ma; let isLast = $last) {
      <div class="referenceStyle">
        @for (N of Ma; track N; let isLast = $last) {
        <div class="inlineStyle">
          <span class="referenceProperty">{{N.label}}: </span>
          <span>
            @for (P of N.display; track P; let isLast = $last) {

            @if (N.datatype === 'wikibase-item') {
            <span>
              {{P.label}}
              <mat-icon-button class="internalLink" [routerLink]="['/item', P.id]"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;
              <!--         @if(P.description){&nbsp;&nbsp;&nbsp;} @else { &nbsp;&nbsp;&nbsp;}   -->
              {{P.separator}}<span class="description-text">{{P.description}}</span>
            </span>
            @if (!isLast) {
            <span>,&nbsp;</span>
            }
            }

            @if (N.datatype==='time') {
            <span>
              {{P}}@if (!isLast) {
              <span>,&nbsp;</span>
              }
            </span>
            }

            @if (N.datatype==='string') {
            <span>
              {{P}}@if (!isLast) {
              <span>,&nbsp;</span>
              }
            </span>
            }

            @if (N.datatype === 'url') {
            <span class="displayLayout">
              <a href="{{P}}" target="_blank">{{P}}</a>
            </span>
            @if (!isLast) {
            <span>,&nbsp;</span>
            }
            }

            @if (N.datatype === 'external-id') {
            <span>
              <a href="{{P.link}}" target="_blank">{{P.value}}</a>
            </span>
            @if (!isLast) {
            <span>,&nbsp;</span>
            }
            }
            }
          </span>
          @if (!isLast) {
          <span>,&nbsp;</span>
          }
        </div>
        }
      </div>
      }
      }
      <!--    </div> -->
    </div>
    }
  </div>
  }
</mat-card-content>
