<body>
    
    <div class="FactGrid-div">
        <div class="FactGridTitle-div">
            <p>advanced search</p>
        </div>
    </div>

    <div fxLayoutAlign="center">
        <a [routerLink]="['/']">simple search</a>
    </div>

    <div class="main-div">
    
    <mat-card id="card" style="text-align: center;">
    <mat-card-content fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px">
    <div fxFlex class="left" fxLayoutAlign="center">
        <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>instance of</mat-label>
            <mat-select  [(ngModel)]="selectedClass" (selectionChange)="onClassChange($event)" name="class" >
                <mat-option [value]="">none</mat-option>
                <mat-option *ngFor="let class of classes" [value]="class.value">
                    {{class.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    <div fxLayout="column" *ngIf="selectedClass === 'Q7'">
        <mat-form-field>
            <mat-label>family name</mat-label>
            <mat-select msInfiniteScroll (infiniteScroll)="getNextBatch()" [complete]="offset === familyNames.length" placeholder="familyName" [multiple]="true" #multiSelect>
<!---              <mat-select-filter [array]="familyNames" (filteredReturn)="filteredList=$event" [displayMember]="'value'"></mat-select-filter>  --->
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let familyName of familyNames" [value]="familyName"
                    [class.hide]="(isFiltered(familyName))">
                    {{familyName.itemLabel.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>given name</mat-label>
            <mat-select [(ngModel)]="selectedGivenName" (selectionChange)="onGivenNameChange($event)" name="givenName" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let givenName of givenNames" [value]="givenName.value">
                    {{givenName.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>position</mat-label>
            <mat-select [(ngModel)]="selectedPosition" (selectionChange)="onPositionChange($event)"  name="position" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let position of positions" [value]="position.value">
                    {{position.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>activity</mat-label>
            <mat-select [(ngModel)]="selectedActivity"  (selectionChange)="onActivityChange($event)" name="activity" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let activity of activities" [value]="activity.value">
                    {{activity.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>membership</mat-label>
            <mat-select [(ngModel)]="selectedOrganisation"  (selectionChange)="onOrganisationChange($event)" name="organisation" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let organisation of organisations" [value]="organisation.value">
                    {{organisation.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedClass === 'Q8'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>place name</mat-label>
            <mat-select [(ngModel)]="selectedPlaceName"  (selectionChange)="onPlaceNameChange($event)" name="placeName" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let placeName of placeNames" [value]="placeName.value">
                    {{placeName.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>territorial affiliation</mat-label>
            <mat-select [(ngModel)]="selectedTerritorialAffiliation"  (selectionChange)="onTerritorialAffiliationChange($event)" name="territorialAffiliation" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let territorialAffiliation of territorialAffiliations" [value]="territorialAffiliation.value">
                    {{territorialAffiliation.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedClass === 'Q12'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>organisation name</mat-label>
            <mat-select [(ngModel)]="selectedOrganisationName"  (selectionChange)="onOrganisationNameChange($event)" name="organisationName" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let organisationName of organisationNames" [value]="organisationName.value">
                    {{organisationName.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>type of organisation</mat-label>
            <mat-select [(ngModel)]="selectedTypeOfOrganisation"  (selectionChange)="onTypeOfOrganisationChange($event)" name="typeOfOrganisation" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let typeOfOrganisation of typesOfOrganisation" [value]="typeOfOrganisation.value">
                    {{typeOfOrganisation.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedClass === 'Q20'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>publication title</mat-label>
            <mat-select [(ngModel)]="selectedPublicationTitle"  (selectionChange)="onPublicationTitleChange($event)" name="publicationTitle" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let publicationTitle of publicationTitles" [value]="publicationTitle.value">
                    {{publicationTitle.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>type of publication</mat-label>
            <mat-select [(ngModel)]="selectedTypeOfPublication"  (selectionChange)="onTypeOfPublicationChange($event)" name="typeOfPublication" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let typeOfPublication of typesOfPublication" [value]="typeOfPublication.value">
                    {{typeOfPublication.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedClass === 'Q14239'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>type of work</mat-label>
            <mat-select [(ngModel)]="selectedTypeOfWork"  (selectionChange)="onTypeOfWorkChange($event)" name="typeOfWork" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let typeOfWork of typesOfWork" [value]="typeOfWork.value">
                    {{typeOfWork.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    
    <div *ngIf="selectedClass === 'Q9'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>event name</mat-label>
            <mat-select [(ngModel)]="selectedEventName"  (selectionChange)="onEventNameChange($event)" name="eventName" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let eventName of eventNames" [value]="eventName.value">
                    {{eventName.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>event location</mat-label>
            <mat-select [(ngModel)]="selectedEventLocation"  (selectionChange)="onEventLocationChange($event)" name="eventLocation" multiple>
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let eventLocation of eventLocations" [value]="eventLocation.value">
                    {{eventLocation.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
 
    </div>
    </div>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div fxFlex class="center"  fxLayoutAlign="center">
        <mat-form-field appearance="fill">
            <mat-label>field of research</mat-label>
            <mat-select [(ngModel)]="selectedField" name="researchField">
                <mat-option value="">none</mat-option>
              <mat-option *ngFor="let researchField of researchFields" [value]="researchField.value">
                  {{researchField.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
 
</mat-card-content>
<button mat-raised-button color="primary" type="submit" >Submit</button>

</mat-card>
</div>

   



</body>
