<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

</head>

<body>




<div class="cardBackground">
     <div class="bigTitle">Paris on FactGrid</div>
</div>

<mat-card  appearance="outlined" class=mat-elevation-z12>
  <mat-card-content>
     <div class="search-center2">
        <mat-form-field>
            <input matInput placeholder="Ex. rue de la Paix" value="rue de la Paix" [formControl]="searchInput">
        </mat-form-field>
     </div>
    </mat-card-content>

    <div class="search-center">
           @if (isDisplay == true) {
                  <div class="searchListSize">
                     <div class="details">
                      @for (item of items; track item) {
                          <div>
                            <span class="search-label"> {{item.label}}</span>
                            @if (item.description) {
                            <span class="description-text">, {{item.description }}</span>
                            }
                            <mat-icon-button class="internalLink" [routerLink]="['/item',item.id]"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                
                            <hr>
                          </div>
                          }
                     </div>
                   </div>
              }

           @if (isDisplay == false) {
                <div>
                  <div class="search-center">
                    <a href="https://database.factgrid.de/query/#%23model%0A%0ASELECT%20%3Fitem%20%3Fviewer%20%3FitemLabel%20%20WHERE%20%7B%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%20%7D%0A%20%20%3Fitem%20wdt%3AP2%20wd%3AQ7%3B%0A%20%20%20%20%20%20%20%20wdt%3AP247%20wd%3AQ24708.%0A%20%20BIND%28STRAFTER%28STR%28%3Fitem%29%2C%20STR%28wd%3A%29%29%20AS%20%3FitemId%29%0A%20%20BIND%28IRI%28CONCAT%28%22https%3A%2F%2Fdatabase.factgrid.de%2Fviewer%2Fitem%2F%22%2C%20%3FitemId%29%29%20AS%20%3Fviewer%29%0A%7D%0A">
                    sparql query</a>
                     <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>            
                    <a [routerLink]="['']">FactGrid</a>  <!-- new route -->
                  </div>           
                   <div class="search-itemSelected">
                    <mat-card appearance="outlined" class="search-itemSelected-mat-card">
                        <div class="selectedListTitle2">{{formerVisitsTitle}}</div>
                        <div class="selectedItemSize">
                            <hr>
                            <mat-card-content>
                             <div>
                                @for (selectedItem of selectedParisItemsList; track selectedItem) {
                                <div>    
                                    @if (selectedItem) {
                                    <span class="selectedItemText2">
                                        {{selectedItem.label}}&nbsp;
                                        <mat-icon-button class="internalLink" [routerLink]="['/item', selectedItem.value.id]"><mat-icon class="whiteButton" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
                                    </span>
                                    }
                                    <br>
                                </div>
                                }
                            </div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                   </div>        
                </div>
            } 
      </div>
 </mat-card>

</body>

