
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">
    <body>
  
    <mat-toolbar  class="custom-toolbar">

      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/FactGrid-Logo.png/289px-FactGrid-Logo.png"   width="90" height="90" style="vertical-align:bottom; padding:10px; margin:10px"  (click)="linking()"> 

    <span class="toolbar-spacer"></span>
        
        <button mat-icon-button   onClick="window.open('https://blog.factgrid.de/archives/2684')"  aria-label="Example icon-button with a menu">
          <mat-icon>info</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menuLanguage" aria-label="Example icon-button with a menu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #menuLanguage="matMenu">
          @for (lang of langs; track lang) {
              <button (click)="langSetting(lang)" mat-menu-item>
              <span>{{lang.name}}</span>
            @if (lang.code === this.selectedLang){ <mat-icon>done</mat-icon> } 
          </button>
}
        </mat-menu>        
        <button mat-icon-button [matMenuTriggerFor]="menuResearchField" aria-label="Example icon-button with a menu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menuResearchField="matMenu">
           @for (researchField of researchFields; track researchField) {

              <div class='displayLayout'>
               <span>{{researchField.name}}</span>
               @if (researchField.name == "Paris") { 
                  <mat-icon-button class="internalLink" [routerLink]="'/paris'"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>
               }
               @if (researchField.name == "Harmonia Universalis") {
                    <mat-icon-button class="internalLink" [routerLink]="'/harmonia_universalis'"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>
               }
               </div>
               }      
           
        </mat-menu>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

</body>

