.mat-elevation-z8.container {
  width: 100%;
  overflow-x: auto;
}

  @media (max-width: 600px) {
 
   .mat-header-row {
      display: none;
    }

    .responsive-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
    }

    .responsive-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      border-radius: 3px;
      margin-bottom: 24px;
      + .responsive-row {
        margin-top: 24px;
      }
    }

      mat-paginator {
        margin-top: 24px;
      }
    }
