<body>
<div class="details1"> 
<div fxLayout="row wrap"
    fxLayout.sm="column"
     fxLayoutGap="30px grid" fxLayoutAlign="center center">
    <div class="details2"> 
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
    </div>
    <div class="details2">  
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
        
    </div>
    <div class="details2">
                
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
        
    </div>
    <div class="details2">
               
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
        
    </div>
    <div class="details2">
               
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
        
    </div>
    <div fxLayout= center class="details2">
               
            <div>
                <ng-select
                    placeholder="select fields of research">
                </ng-select>
            </div>
        
    </div>
    </div>
</div>

</body>