

.FactGrid-div {
    height: 150px;
    display: flex; 
    align-items:center;
    justify-content: center;
    padding-bottom: 0 px;
    margin-bottom: 0 px;
    
  }

.FactGridTitle-div {
    color:#AD1457;
    font-weight: 600;
    font-size: 24px;
  }

  .details {
    padding: 10px;
    margin: 5px;
  }

  .details1 {
    padding: 10px;
    width: 100%;
    max-width:800px;
    margin: auto;
  }

  .details2 {
    padding: 0px;
    margin: 3px;
    font-style: italic;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
  }

  ng-select {
    width: 250px;
  }
  