<body>
    
    <div class="FactGrid-div">
        <div class="FactGridTitle-div">
            <p>advanced search</p>
        </div>
    </div>

    <div fxLayoutAlign="center">
        <a [routerLink]="['/']">simple search</a>
    </div>

    <div class="main-div">
    
    <mat-card id="card" style="text-align: center;">
    <mat-card-content fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px">
    <div fxFlex class="left" fxLayoutAlign="center">
        <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>instance of</mat-label>
            <mat-select [(ngModel)]="selectedClass" name="class">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let class of classes" [value]="class.value">
                    {{class.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedClass === 'Q7'" appearance="fill">
            <mat-label>position</mat-label>
            <mat-select [(ngModel)]="selectedPosition" name="position">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let position of positions" [value]="position.value">
                    {{position.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedClass === 'Q7'" appearance="fill">
            <mat-label>activity</mat-label>
            <mat-select [(ngModel)]="selectedActivity" name="activity">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let activity of activities" [value]="activity.value">
                    {{activity.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field *ngIf="selectedClass === 'Q7'" appearance="fill">
            <mat-label>membership</mat-label>
            <mat-select [(ngModel)]="selectedOrganisation" name="organisation">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let organisation of organisations" [value]="organisation.value">
                    {{organisation.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    <div *ngIf="selectedClass === 'Q12'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>type d'organisation</mat-label>
            <mat-select [(ngModel)]="selectedType" name="type">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedClass === 'Q20'" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>type de publication</mat-label>
            <mat-select [(ngModel)]="selectedType" name="type">
                <mat-option value="">none</mat-option>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    </div>
    </div>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div fxFlex class="center"  fxLayoutAlign="center">
        <mat-form-field appearance="fill">
            <mat-label>field of research</mat-label>
            <mat-select [(ngModel)]="selectedField" name="researchField">
                <mat-option value="">none</mat-option>
              <mat-option *ngFor="let researchField of researchFields" [value]="researchField.value">
                  {{researchField.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
 
</mat-card-content>
<button mat-raised-button color="primary" type="submit" >Submit</button>

</mat-card>
</div>

   



</body>
