<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

</head>

<body>

  <div class="cardBackground">
    <div class="FactGridTitle">FactGrid</div>
    <div class="subTitle">{{subtitle}}</div>
  </div>

  <mat-card appearance="outlined" class=mat-elevation-z12>
    <mat-card-content class="search-container">
      <div class="search-center">
        <a [routerLink]="['']">FactGrid</a> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="https://database.factgrid.de/query/#%23model%0A%0ASELECT%20%3Fitem%20%3Fviewer%20%3FitemLabel%20%20WHERE%20%7B%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%20%7D%0A%20%20%3Fitem%20wdt%3AP2%20wd%3AQ7%3B%0A%20%20%20%20%20%20%20%20wdt%3AP247%20wd%3AQ24708.%0A%20%20BIND%28STRAFTER%28STR%28%3Fitem%29%2C%20STR%28wd%3A%29%29%20AS%20%3FitemId%29%0A%20%20BIND%28IRI%28CONCAT%28%22https%3A%2F%2Fdatabase.factgrid.de%2Fviewer%2Fitem%2F%22%2C%20%3FitemId%29%29%20AS%20%3Fviewer%29%0A%7D%0A">
          sparql query
        </a>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a [routerLink]="['/harmonia_universalis']">Harmonia Universalis</a>
      </div>

      <!--    <div class="cardBackground">

  <div class="search-center2" id="projects">
    <mat-form-field>
      <mat-label>Projects</mat-label>
      <mat-select placeholder="Projects" [formControl]="projectSearchInput" multiple name="project" (selectionChange)="selectedProject($event)">
        <mat-option>None</mat-option>
        @for (project of projectsList; track project) {
        <mat-option [value]="project.item.id">{{project.itemLabel.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="search-center2" id="projects">
    <mat-form-field>
      <mat-select placeholder="Projects"
                  [formControl]="projectSearchCtrl"
                  [multiple]="true"
                  #multiSelect>
        <mat-option>
          <ngx-mat-select-search [showToggleAllCheckbox]="true"
                                 [toggleAllCheckboxIndeterminate]="isIndeterminate"
                                 [toggleAllCheckboxChecked]="isChecked"
                                 [formControl]="projectMultiFilterCtrl"
                                 (ngModelChange)="updateProjectsList($event)">
            <!---synchronisation les données saisies dans le champ du formulaire et la propriété du composant ngxSearchModel ----; si on utilise <form> il suffit d'écrire ngModel?; il faut écrire le nom de la forme name="formName" ou bien écrire [ngModelOptions]="{standalone=true}" ---->
      <!---      (ngModelChange)="updateOptionsList($event)"
  ngModelChange est le @Output de la directive NgModel, qui se déclenche quand le modèle change (il faut donc aussi avoir NgModel dans la form) --->
      <!--    </ngx-mat-select-search> <!--- je ne sais pas ce que cela veut dire; je pense qu'il faut lire: </ngx-mat-select-search> --->
      <!--        </mat-option>
  <mat-option [value]="project" *ngFor="let project of filteredProjectsMulti2 | async">
    {{project.itemLabel.value}}
  </mat-option>
  </mat-select>
  </mat-form-field>
  </div>

  -->
      <app-project-select [data]="projectsList"  (selectionChange)="selectedProjects($event)"></app-project-select>


      <app-statement-search (selectedStatementOutput)="selectedStatement($event)"></app-statement-search>



      <!--    <div>
        <h3>Multiple selection</h3>
        <p>
          <mat-form-field>
            <mat-select [compareWith]="compareFn" [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let bank of filteredBanksMulti2 | async" [value]="bank">
                {{bank.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          Selected Banks:
        </p>
        <ul *ngFor="let bank of bankMultiCtrl?.value">
          <li>{{bank.name}}</li>
        </ul>


      </div>
    -->

    </mat-card-content>
  
  </mat-card>

</body>

