/* app-component.css à mettre dans display-component.css*/



div#home-content {
  flex-grow: 1;                         /*  added  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card{
  height: fit-content;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

mat-card img{
  object-fit: contain; /*this makes the image in src fit to the size specified below*/
  width: 500px; 
  height:500px;
}

.padding1 {
  padding: 20 px;
}

.w-100 {      
  width: 100% !important;
  margin-right: 20 px;
}

.mat-list-base.inline-list {
  display: flex;   /*inline list*/
}

.blue-text {
  color:#283593;
  }

.pink-text {
  color:#FF4081;
}

.details {
  padding: 4px;
}

.details > label {
  overflow-wrap: break-word;
}

.center {
    display: flex;
    justify-content: center;
  }

.example-spacer {
    flex: 1 1 auto;
  }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 20%;
  }

ul.inline {
    display: inline
    }

.percent {
    font-size: 60%;
  }

.percent2 {
    font-size: 90%;
  }

.percent3 {
    font-size: 130%;
  }

.property {
  color:#3F51B5;
}

.internalLink {
   cursor: pointer;
   position: absolute;
}

/* .mat-icon {
    vertical-align: middle;
   }

*button{
 white-space: pre-wrap ;
  }

mat-card{
  height: fit-content;
}
    
*/



.example-additional-selection {
    font-size: 0.5em;
  } 

