<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>

</head>

<body>


  <div class="center">

    <button mat-button color="primary" class="mat-typography"
            [routerLink]="from === 'paris' ? '/paris' : '/'">
      {{newSearch}}
    </button>



  </div>

    <div class="spinner">
      @if (isSpinner) {
      <mat-spinner diameter=50 mode="indeterminate"></mat-spinner>
      }
    </div>

    @if (!isSpinner) {
    <div>
      <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer mode="push">
          <div class="ground-div0">
            <div class="icon mat-button"
                 style="display: flex; align-items: center; justify-content: flex-end;">
              <span class="blueButton">{{mainPage}}</span>
              <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon class="blueButton">chevron_right</mat-icon>
              </button>
            </div>

          </div>
          <div>
          <mat-card appearance="outlined" class=mat-elevation-z12>
            <mat-card-content class="cardBackground">
            <div class="listTitleStart">  <!-- ListTitleStart seems to be deprecated -->
            @if ("main"!==undefined) {
          <div class="subdivisionTitle">{{linkedPagesTitle}}</div>   
}
            </div>
              @for (item of linkedItems; track item.id) {
           <div>   
                <span>
                  &nbsp;&nbsp;{{ item.label }}, {{ item.id }}
                  <mat-icon-button class="internalLink" [routerLink]="['/item', item.id]"><mat-icon color="primary" [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <hr>
              </div>
}
          </mat-card-content>
          </mat-card>
          </div>
        </mat-drawer>
        <mat-drawer-content class="drawer-background">
          <div class="ground-div1">
            <div class="icon mat-button" style="display: flex; align-items: center;">
              <button mat-icon-button (click)="drawer.toggle()"><mat-icon class="blueButton">chevron_left</mat-icon></button><span class="blueButton">{{linkedPagesTitle}}</span>
            </div>
          </div>

          <div class="parent">
            <div class="child1">
              <div class="matCardPadding">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <div class="cardBackground">

                    <mat-card-content>
                      
                        <div class="itemTitle" [attr.lang]="selectedLang === 'de' ? 'de' : null">{{ label }}</div>

                      
                      <div [ngClass]="isAliases ? 'hide-division':'show-division'" class="aliases">
                        {{ aliases | join }}
                      </div>
                      <div class="itemDescription">
                        {{ description }}
                      </div>
                      <br>
                      <div>
                        <span class="propertyStyle">FactGrid ID:&nbsp;&nbsp;</span> @if (id) {
                        <span class="percent4">
                          <a href="https://database.factgrid.de/wiki/Item:{{id}}" target="_blank" rel="noopener">{{ id }}</a>
                        </span>
                        }
                      </div>
                      <!---               image on the top for small screens                       --->
                      @for (picture of pictures; track picture.uniqueKey) {
                      <div [ngClass]="isTopPicture ? 'show-division':'hide-division'">
                        <div class="img2">
                          <!--                  <mat-card appearance="outlined" class=mat-elevation-z2>
              <img mat-card-image src={{picture.picture}} (click)="openImage(picture.picture)">-->

                          <img mat-card-image [src]="picture.thumbnail"
                               [attr.data-src]="picture.full"
                               loading="lazy"
                               alt="Image description"
                               (error)="onImageError($event)"
                               (click)="openImage(picture.full)" />
                          <!--                  </mat-card>   -->
                        </div>
                      </div>
                      }
                      <!--                   end of image on the top for small screens             --->
                    </mat-card-content>
                    <app-header-display [headerDetail]="this.headerDetail"></app-header-display>
                  </div>
                </mat-card>
              </div>
              <div>
              </div>

              <!--********************** section Main  *********************** -->


              <div class="matCardPadding" [ngClass]="isMain ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-main-display [mainList]="this.mainList" [mainTitle]="this.mainTitle" [list]="this.list"></app-main-display>
                </mat-card>
              </div>



              <!--************************ end of main section *********************-->
              @if (this.trans !== "") {   <app-text-display [trans]="this.trans"></app-text-display>   } <!----transcription-->
              <!-- ********************************section Training ******************************-->

              <div class="matCardPadding" [ngClass]="isTraining ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-education-display [education]="this.education" [training]="this.training"></app-education-display>
                </mat-card>
              </div>


              <!--  ******************************* section Career ****************************************  -->

              <div class="matCardPadding" [ngClass]="isCareer ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-career-display [careerAndActivities]="this.careerAndActivities" [career]="this.career"></app-career-display>
                </mat-card>
              </div>

              <!---************************************ section Sociability **********************************-->

              <div class="matCardPadding" [ngClass]="isSociability ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-sociability-display [sociabilityAndCulture]="this.sociabilityAndCulture" [sociability]="this.sociability"></app-sociability-display>
                </mat-card>
              </div>

              <!-- ******************************* iFrames ****************************************  -->

              <div class="matCardPadding" [ngClass]="isIframes ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-iframes-display [iframeGroups]="iframeGroups"></app-iframes-display>
                </mat-card>
              </div>

              <!-- ************************************* sparql0 **************************************** -->
              <div [ngClass]="isSparql0 ? 'show-division':'hide-division'">
                <app-sparql0-display [sparqlData]="this.sparqlData0" [sparqlSubject]="this.sparqlSubject0"></app-sparql0-display>
              </div>

              <!-- ************************************* sparql3 **************************************** -->
              <div [ngClass]="isSparql3 ? 'show-division':'hide-division'">
                <app-sparql3-display [sparqlData]="this.sparqlData3" [sparqlSubject]="this.sparqlSubject3"></app-sparql3-display>
              </div>

              <!--      ************************************* sparql1 **************************************** -->
              <div [ngClass]="isSparql1 ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-sparql1-display [sparqlData]="this.sparqlData1" [sparqlSubject]="this.sparqlSubject1"></app-sparql1-display>
                </mat-card>
              </div>

              <!-- ************************************* sparql2 **************************************** -->
              <div [ngClass]="isSparql2 ? 'show-division':'hide-division'">
                <app-sparql2-display [sparqlData]="this.sparqlData2" [sparqlSubject]="this.sparqlSubject2"></app-sparql2-display>
              </div>

              <!-- ************************************* sparql4 **************************************** -->
              <div [ngClass]="isSparql4 ? 'show-division':'hide-division'">
                <app-sparql4-display [sparqlData]="this.sparqlData4" [sparqlSubject]="this.sparqlSubject4"></app-sparql4-display>
              </div>

              <!-- ******************************* section Sources ****************************************  -->

              <div [ngClass]="isSource ? 'show-division':'hide-division'">
                <mat-card appearance="outlined" class=mat-elevation-z12>
                  <app-sources-display [sourcesList]="this.sourcesList" [sources]="this.sources"></app-sources-display>
                </mat-card>
              </div>

              <!--  ************************************* sparql3 ****************************************
  <div class="matCardPadding" [ngClass]="isSparql0 ? 'show-division':'hide-division'">
    <mat-card appearance="outlined" class=mat-elevation-z12>
      <app-sparql3-display [item]="this.item"></app-sparql3-display>
    </mat-card>
  </div>-->
              <!-- ******************************* Info ****************************************  -->
              <mat-card appearance="outlined" class="mat-elevation-z12">
                <div>
                  <div class="ground-div2">
                    <div class="mat-button mat-small">
                      <button mat-icon-button (click)="toggleInfo()" class="icon whiteText">
                        <mat-icon class="icon whiteButton">
                          {{ isInfo ? 'expand_less' : 'expand_more' }}
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="ground-div2" [ngClass]="isInfo ? 'show-division' : 'hide-division'">
                    <app-item-info [infoList]="infoList"></app-item-info>

                  </div>
                </div>
              </mat-card>

            </div>

              <!-- ****************************************** Pictures ****************************************  -->
              <div class="child2">
                <mat-card appearance="outlined">
                  <div class="img2" [ngClass]="isPicture ? 'show-division':'hide-division'">
                    @for (picture of pictures; track picture.uniqueKey) {
                    <div>
                      <!---     <mat-card appearance="outlined" class=mat-elevation-z8>
  <img mat-card-image src={{picture.picture}} (click)="openImage(picture.picture)">--->


                      <img mat-card-image [src]="picture.thumbnail"
                           [attr.data-src]="picture.full"
                           loading="lazy"
                           alt="Image description"
                           (load)="onThumbnailLoad(picture)"
                           (error)="onImageError($event)"
                           (click)="openImage(picture.full)" />

                      <!---</mat-card> --->
                    </div>
                  }
               </div>
            </mat-card>

  <!-- ************************************* external links ****************************************  -->
                      <!--          <div>   -->
                      <mat-card appearance="outlined" class="external-links">
                        <mat-card-content [ngClass]="isExternalLinks ? 'show-division':'hide-division'">
                          <div class="externalLinksPadding">
                            <div class="divisionTitle">{{externalLinksTitle}}</div>
                            <hr>
                          </div>
                          @for (externalLink of externalLinks; track externalLink.label) {
                          <div class="externalLinksText">
                            <span>{{externalLink.label}}: </span><a href="{{externalLink.url}}" target="_blank">
                              {{externalLink[0].mainsnak.datavalue.value}}
                            </a><span>&nbsp;&nbsp;</span>
                          </div>
                          }
                        </mat-card-content>


                        <!-- ************************************* wikis links ****************************************  -->

                        <mat-card-content class="header-spacer" [ngClass]="isWikis ? 'show-division':'hide-division'">
                          <div class="externalLinksPadding">
                            <div class="divisionTitle">Wikis</div>
                            <hr>
                          </div>
                          @for (wiki of wikis; track wiki.url) {
                          <!--          <div>   -->
                          <div class="externalLinksText">
                            <span>{{wiki.site}}: </span><a href="{{wiki.url}}" target="_blank">{{wiki.title}}</a><span>&nbsp;&nbsp;</span>
                          </div>
                          <!--                <br>    -->
                          <!--          </div>   -->
                          }
                        </mat-card-content>
                      </mat-card>
                      <!--              </div> -->
                      <!-- ************************************* selected items  ****************************************  -->
                      <!--         <div>  -->
                      <mat-card appearance="outlined" class="mat-elevation-z8 ">
                        <div class="itemSelected-mat-card">
                          <mat-card-content>
                            <div class="selectedListTitle">{{formerVisitsTitle}}</div>
                            <br>
                            <div>
                              <div *ngFor="let selectedItem of selectedItemsList">
                                <div>
                                  <span *ngIf="selectedItem" class="selectedItemText">
                                    {{selectedItem.label}}
                                    <mat-icon-button class="internalLink" [routerLink]="['/item', selectedItem.value.id]"><mat-icon [inline]="true">open_in_new</mat-icon></mat-icon-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </span>
                                </div>
                                <br>
                              </div>
                            </div>
                          </mat-card-content>
                        </div>
                      </mat-card>
                      <!--          </div>  -->

                    </div>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    }
  </body>
