/* app-component.css à mettre dans display-component.css*/



div#home-content {
  flex-grow: 1;                         /*  added  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card{
  height: fit-content;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}


mat-card img{
  object-fit: contain; /*this makes the image in src fit to the size specified below*/
  width: 100%;
  margin: 5px;
  
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#c1{
  float:right;
}​

#map {
  height: 100%;
}

.img {
  width: 40%; 
  height:100px;
  margin: 10px;
  
}

.padding1 {
  padding: 2 px;
}

.w-100 {      
  width: 100% !important;
  margin-right: 20 px;
}

.mat-list-base.inline-list {
  display: flex;   /*inline list*/
  padding: 2 px;
}

.blue-text {
  color:#283593;
  }

.pink-text {
  color:#FF4081;
}

.title {
  padding-top: 4px;
}

.title2 {
  padding-top: 14px;
}

.details {
  padding: 1px;
}

.details2 {
  padding: 0px;
  margin: 0px;
  text-overflow: ellipsis;
  word-break: normal;
}

.break-word-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

.details > label {
  overflow-wrap: break-word;
  padding:0px;
}

.details3 {
  word-break: normal;
  text-overflow: ellipsis;
}

.center {
    display: flex;
    justify-content: center;
  }

.example-spacer {
    flex: 1 1 auto;
  }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 20%;
  }

ul.inline {
    display: inline
    }

.percent {
    font-size: 60%;
  }

.percent2 {
    font-size: 90%;
  }

.percent3 {
    padding-top:10px;
    font-size: 150%;
  }

.property {
  color:#3F51B5;
}

.referenceProperty {
  color:#AD1457;
}

.internalLink {
   cursor: pointer;
   position: absolute;
}

#leaflet-map {
  flex: 5;
  height: 100%;
  width: 100%
}

/* .mat-icon {
    vertical-align: middle;
   }

*button{
 white-space: pre-wrap ;
  }

mat-card{
  height: fit-content;
}
    
*/



.example-additional-selection {
    font-size: 0.5em;
  } 

