
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">
    <body>
    
    <div>
      <div class="FactGrid-div" [@slideUp]="isDown ? 'down' :'up'">
      <div class="FactGridTitle-div">
            <p>FactGrid</p>
      </div>
        <span>{{subtitle}}</span>
    </div>
       <div class="select-bar" class="center" style="font-size: 15px">
      <mat-form-field color=primary appearance="standard" class="mat-headline">
            <input matInput placeholder="Ex. Goethe" value="Goethe" [formControl] = "searchInput">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center"> <!-- change "searchToken === 'on'" into isDisplay === false -->
    <div *ngIf="isDisplay == true" class="search-div">
      <mat-card  fxFlex class= mat-elevation-z8fx>  
        <div flex-shrink flex-basis="auto">
          <div *ngFor="let item of items">
            {{item.label}} 
      			  <a [routerLink]="['/item', item.id]" routerLinkActive ="activate-link">{{item.id}}</a>, <span class="description-text">{{item.description }}</span>	
            <hr>
          </div>
      </div>
      </mat-card>
    </div>
   <div *ngIf="isDisplay == false" class="search-div">
 <!---     <a [routerLink]="['/advanced_search']">{{advanced_search}}</a>|--->
    <a [routerLink]="['/research_fields']">{{advanced_search}}</a>
    |<a href="https://database.factgrid.de/query/#%23model%0A%0ASELECT%20%3Fitem%20%3Fviewer%20%3FitemLabel%20%20WHERE%20%7B%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%20%7D%0A%20%20%3Fitem%20wdt%3AP2%20wd%3AQ7%3B%0A%20%20%20%20%20%20%20%20wdt%3AP247%20wd%3AQ24708.%0A%20%20BIND%28STRAFTER%28STR%28%3Fitem%29%2C%20STR%28wd%3A%29%29%20AS%20%3FitemId%29%0A%20%20BIND%28IRI%28CONCAT%28%22https%3A%2F%2Fdatabase.factgrid.de%2Fviewer%2Fitem%2F%22%2C%20%3FitemId%29%29%20AS%20%3Fviewer%29%0A%7D%0A">
      sparql query
    </a>  
    </div>
  </div>
  
</body>


