

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-center {
  display: flex;
  justify-content: center;
}

.FactGrid-div { // box styling the factgrid title
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.FactGridTitle-div {  //font of the title FactGrid
    padding-left:10px;
    color:#AD1457;
    font-weight: 600;
    font-size: 60px;
  }

.search-itemSelected { // put a margin on top of the box of selected items
  margin-top: 50px;
}

.search-itemSelected-mat-card { //style the card of selected items
  height: fit-content;
  width: 350px;
  background-color: rgb(99, 98, 98) !important;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.selectedItemSize {
   font-size: 14px;
}





