.FactGrid-div {
    height: 150px;
    display: flex; 
    align-items:center;
    justify-content: center;
    padding-bottom: 0 px;
    margin-bottom: 0 px;
    
  }

.FactGridTitle-div {
    color:#AD1457;
    font-weight: 600;
    font-size: 24px;
  }